@import "variables";

body {
  height: auto !important;
  min-height: 100%;
  font-size: 16px;
  font-family: $font-site;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

h1 {
  text-align: center;
  color: $clear-color;
  font-size: 1.6875em;
  line-height: 40px;
}

h2 {
  color: $dark-color;
  text-align: center;
  font-size: 1.875em;
  text-transform: uppercase;
}

a {
  line-height: normal;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

svg {
  fill: $color-site;
}

button {
  background: $color-site;
  border-radius: 5px;
  border: 0;
  border-bottom: 3px solid $border-button;
  padding: 10px 40px;
  color: $clear-color;
  position: relative;
  &:hover {
    top: 2px;
    border-bottom: 1px solid $border-button;
    margin-bottom: 2px !important;
  }
}

input[type="text"], input[type="tel"], input[type="email"], input[type=""] {
  display: inline-block;
  border-radius: 3px;
  padding: 15px;
  border: 1px solid $input-border-color;
}

input::-webkit-input-placeholder {
  color: #999;
}

input:-moz-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}

p {
  font-family: "Open Sans", sans-serif;
}

.container-fluid {
  max-width: 1170px;
  margin: 0 auto;
}
