
$color-site: #66973b;
$border-button: #386919;
$clear-color: #fff;
$dark-color: #212121;
$benef-bg: #f5f5f5;
$color-link-dark: #333;
$input-border-color: #eaeaea;
$dark-bg-opacity: rgba(0, 0, 0, .7);
$font-site: 'Roboto', sans-serif;

