@media screen and (max-width: 1500px) {
    .know-img{width: 50%;}
}
@media screen and (max-width: 1300px) {
    /*.important-know .slogan-box{margin-left: 8%;  }*/
    .know-img{width: 65%;}
}

@media screen and (max-width:1024px){
    .diamond-box{
        padding:10px;
        background: #fff;
    }
    .diamond-box2{
        width: 230px;
        height: 230px;
        padding:10px;
    }
}
@media screen and (max-width: 991px){
    .important-know .slogan-box, .important-know .slogan{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .important-know .slogan-box{
        margin-left: -15px;
        max-width: 400px;
        max-height: 100%;
        padding: 30px 20px 0 20px;
    }
    .know-img{width: 75%;}
    .important-know .slogan{
        height: 100%;
        max-height: 100%;
        position: relative;
        width: 100%;
    }
    .questions{
        background: url("images/mobil-ba-contact.jpg") center center no-repeat;
    }
}

@media screen and (max-width: 900px){
    .slogan-box{max-width: 500px; max-height: 500px;}
    .slogan{height: 65%;}
}

@media screen and (max-width: 850px){
    .modal_div{  width: 80%;}
    .important-know .slogan-box{
        max-width: 350px;
    }
}

@media screen and (max-width: 768px){
    .tel-box, .logo{text-align: center;}
    .know-box{padding: 0 20px 20px 20px;text-align: center;width: 100%;}
    .info-top{min-height: 300px;padding: 20px 0;}
    .questions .form-row{width: 100%;}
    input[type="text"], input[type="tel"], input[type="email"], input[type=""]{display: block;}
    .questions .form-row input[type="text"], .questions .form-row input[type="tel"]{width: 90%; margin:15px auto auto auto;}
    .form-row button{display: block;width: 90%; margin:25px auto auto auto;}
    main section{padding: 50px 0;}
    .modal_div{  width: 90%;}
    .slogan-box, .slogan{-webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);}
    .slogan-box{
        max-width: 650px;
        height: auto;
        padding: 50px 0;
        background: rgba(0, 0, 0, 0.4);
    }
    .slogan{
        height: auto;
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }
    .slogan h1{text-shadow: 1px 1px 5px #333;}
    .slogan h1 span{
        color: #386919;
        text-shadow: 0 0 3px #FFF;
    }
    .know-img {width: 85%;}

    .stock-box .headers {
        padding-bottom: 50px;
    }

    .docum-left, .docum-right{
        text-align: center;
    }


}
@media screen and (max-width: 670px){
    .diamond-box2{margin-top: 0;}
}


@media screen and (max-width: 700px) {

    .diamond .diamond-text {
        height: 50%;
    }
}
@media screen and (max-width:650px){
    .important-know .slogan-box{display: none;}
    .know-img {width: 55%;  }
    .tel-box .tel,
    .tel-box .link-popup,
    .tel-box{
        display: block;
    }
    .tel-box .tel-svg{
        display: none;
    }
    .link-popup{
        top: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:550px){

    .tel-box{margin-bottom: 15px;}
}

@media screen and (max-width: 500px) {

    .slogan h1 {
        font-size: 1.9em;
    }

}



@media screen and (max-width: 400px) {
    .diamond-box{margin: 0; width: 200px;height: 200px;}
    .slogan h1 {
        font-size: 1.2em;
    }

    .g-recaptcha{
        width: 225px;
        margin: 25px auto auto auto;
    }
    #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
    .questions {background: url(images/mobil-ba-contact.jpg) 35% 0 no-repeat;}
    .info-top {
        background: url(images/one.png) center center no-repeat;
        background-size: cover;
    }

}



@media screen and (max-width: 320px) {


}