/*---- FONTS START -----*/
/*----- FONTS END -----*/

@import '_variables.scss';


/*---- MIXIN START -----*/
@mixin minusTopPrefix {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin minusLefPrefix {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin animation($timeAnimation) {
  -webkit-transition: all $timeAnimation;
  -moz-transition: all $timeAnimation;
  -ms-transition: all $timeAnimation;
  -o-transition: all $timeAnimation;
  transition: all $timeAnimation;
}

@mixin rotate($rotate) {
  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  -o-transform: rotate($rotate);
  transform: rotate($rotate);
}

/*---- MIXIN END -----*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}



@import 'global_style';



//----- HEADER START -----
header {
  background: $clear-color;
  border-bottom: 2px solid $color-site;
  padding: 20px 0 15px;
}

.tel-box {
  text-align: right;
  .tel, .link-popup, .tel-svg {
    display: inline-block;
  }
  .tel-svg {
    fill: $color-site;
    height: 30px;
    margin-right: 20px;
    position: relative;
    top: -5px;
    width: 30px;
  }

  .tel {
    margin-right: 10px;
    a {
      display: block;
      color: $color-link-dark;
      font-size: 19px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 20px;
      span {
        color: $color-site;
        font-size: 16px;
        position: relative;
        top: -2px;
      }
    }
  }
}

.link-popup {
  position: relative;
  top: -24px;
  a {
    display: block;
    background: $color-site;
    border-radius: 5px;
    border-bottom: 3px solid $border-button;
    padding: 10px 20px;
    color: $clear-color;
    position: relative;
    font-size: 19px;
    &:hover {
      top: 2px;
      border-bottom: 1px solid $border-button;
      margin-bottom: 2px;
    }
  }
}

.modal_div {
  width: 40%;
  border-radius: 3px;
  background: #fff;
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  text-align: center;
  @include minusTopPrefix;
  margin: auto;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 30px 20px 50px 20px;
  .modal_close {
    width: 31px;
    height: 31px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    @include animation(0.5s);
    &:hover {
      @include animation(0.5s);
      transform: rotate(360deg);
    }
    svg {
      fill: $color-site;
    }
  }
  input {
    display: block;
    margin: 15px auto auto;
    padding: 10px;
    width: 80%;
  }
  button {
    display: block;
    width: 80%;
    margin: 25px auto auto auto;
  }
  h3 {
    text-align: center;
    margin: 35px 0;
  }
  .g-recaptcha {
    display: inline-block;
    margin-top: 25px;
  }
}

.g-recaptcha {
  display: block;
  width: 300px;
  margin: 25px auto;
}

#overlay {
  z-index: 3;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.jq-selectbox__select {
  background: $clear-color;
  border-radius: 3px;
  padding: 10px 60px 10px 10px;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: 1px solid #ccc;
}

.jq-selectbox__trigger-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #999;
  height: 0;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 0;
}

.jq-selectbox__dropdown {
  width: 100% !important;
  li {
    background: $clear-color;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid $input-border-color;
  }
}

/*----- HEADER END -----*/

/*----- MAIN START ------*/

main {
  section {
    padding: 100px 0;
  }
}

/*----- MAIN END ------*/

/*---- SECTION INFO-TOP START -----*/
.logo{
  margin-top: 10px;
}
.info-top {
  width: 100%;
  padding: 200px 0;
  background: url("images/info-top.png") top right no-repeat;
  background-size: cover;
  position: relative;
}

.slogan-box {
  background: $dark-bg-opacity;
  max-width: 550px;
  height: 550px;
  margin: auto;
  @include rotate(45deg);
  position: relative;
}

.slogan {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 30%;
  @include rotate(-45deg);
  h1 {
    text-transform: uppercase;
    span {
      display: block;
      color: $color-site;
      font-size: 1.33em;
    }
  }
  p {
    color: $clear-color;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
  }
}

.slogan-diamond {
  margin: 15px 0 20px 0;
  text-align: center;
  .slog-diam-svg {
    display: inline-block;
    width: 15px;
  }
}

/*---- SECTION INFO-TOP END -----*/

/*------ IN-STOCK ------*/

.in-stock {
  width: 100%;
}

.stock-box {
  max-width: 1000px;
  margin: auto;
  border: 1px solid $color-site;
  text-align: center;
  .headers {
    position: relative;
    top: -10px;
    padding-bottom: 85px;
    h2 {
      background: $clear-color;
      padding: 5px 40px;
      margin-top: -20px;
      display: inline-block;
    }
  }
}

.diamond-box {
  display: inline-block;
  width: 230px;
  height: 230px;
  margin: 0 50px;
  @include rotate(-45deg)

}

.diamond {
  width: 100%;
  height: 100%;
  position: relative;
  @include animation(0.5s);
  overflow: hidden;
  &:hover .diamond-hover {
    top: 0;
  }
  .diamond-hover {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    @include animation(0.5s);
  }
  .diamond-text {
    position: absolute;
    height: 26%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: $clear-color;
    text-shadow: 1px 1px 5px $dark-color;
    @include rotate(45deg)
  }

  .diamond-title {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    text-shadow: 0 0 4px $dark-color;
    &:before {
      content: '';
      position: absolute;
      bottom: -25px;
      left: 50%;
      @include minusLefPrefix;
      width: 50px;
      height: 1px;
      background: $color-site;
    }
  }
}
.diam-paragr{
  text-shadow: 0 0 4px $dark-color;
}
.diamond-box2 {
  width: 240px;
  height: 240px;
  margin: -65px 45px 0 45px;
  background: $clear-color;
  padding: 0 0 10px 10px;
}

/*------ IN-STOCK ------*/

/*---- BENEFitS START ------*/

.benefits {
  width: 100%;
  background: $benef-bg;
  h2 {
    margin-bottom: 50px;
  }
}

.benefit-item {
  text-align: center;
}

.benefit-img {
  width: 55px;
  margin: 20px auto;
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: $color-site;
  }
}

/*---- BENEFITS END ------*/

/*---- LOGIC START -----*/
.logic {
  width: 100%;
  background: url("images/auto.png") center center no-repeat;
  background-size: cover;
}

.logic-item {
  text-align: center;
  width: 75%;
  margin: 50px auto auto auto;
  .logic-box {
    border: 1px solid $color-site;
    border-bottom: 0;
  }
  h3 {
    display: inline-block;
    color: $color-site;
    background: $clear-color;
    padding: 5px 10px;
    font-weight: 700;
    position: relative;
    top: -20px;
    font-size: 1.5625em;
  }
}

/*---- LOGIC END ----*/

/*------ IMPORTANT KNOW START -----*/

.important-know {
  width: 100%;
  background: url("images/text.png") center center no-repeat;
  background-size: cover;
  padding: 150px 0;
  position: relative;

  h2 {
    color: $clear-color;
  }
  .slogan-box {
    margin: 0;
  }
}

.know-box {
  width: 80%;
  margin: auto;
  padding: 0 80px 30px 80px;
  border: 1px solid $color-site;
  border-top: 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 1px;
    background: $color-site;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 1px;
    background: $color-site;
  }
}

.know-img {
  position: absolute;
  width: 40%;
  right: 0;
  bottom: 0;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.know-text {
  &:first-child {
    margin-top: 20px;
  }
  p {
    color: $clear-color;
    margin-bottom: 20px;
    span {
      display: block;
    }
  }

}

.slogan2 {
  height: 73%;

}

/*------ IMPORTANT KNOW END -----*/

/*----- DOCUMENT START -----*/

.document {
  width: 100%;
  background: url("images/sert.png") center center no-repeat;
  background-size: cover;
  h2 {
    margin-bottom: 75px;
  }
}

.docum-item {
  max-width: 250px;
  display: inline-block;
  a {
    display: block;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.docum-item2{
  max-width: 150px;
  display: inline-block;
}
.docum-left{
  text-align: right;
}
.docum-right{
  text-align: left;
}
/*----- DOCUMENT END -----*/

/*----- QUESTIONS START -----*/

.questions {
  width: 100%;
  background: url("images/question.png") top left no-repeat;
  background-size: cover;
  position: relative;
  h5 {
    text-align: center;
    font-weight: 500;
    margin-top: 15px;
  }
  .form-row {
    width: 75%;
    margin: 75px auto auto auto;
    text-align: center;
    input[type="text"], input[type="tel"] {
      margin-right: 10px;
    }
  }
}

/*----- QUESTIONS END -----*/

/*----- FOOTER START -----*/

footer {
  border-top: 2px solid $color-site;
  padding: 15px 0;
}

/*----- FOOTER END -----*/