/*---- FONTS START -----*/
/*----- FONTS END -----*/
/*---- MIXIN START -----*/
/*---- MIXIN END -----*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  height: auto !important;
  min-height: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

h1 {
  text-align: center;
  color: #fff;
  font-size: 1.6875em;
  line-height: 40px; }

h2 {
  color: #212121;
  text-align: center;
  font-size: 1.875em;
  text-transform: uppercase; }

a {
  line-height: normal;
  display: inline-block; }

a:hover {
  text-decoration: none; }

svg {
  fill: #66973b; }

button {
  background: #66973b;
  border-radius: 5px;
  border: 0;
  border-bottom: 3px solid #386919;
  padding: 10px 40px;
  color: #fff;
  position: relative; }
  button:hover {
    top: 2px;
    border-bottom: 1px solid #386919;
    margin-bottom: 2px !important; }

input[type="text"], input[type="tel"], input[type="email"], input[type=""] {
  display: inline-block;
  border-radius: 3px;
  padding: 15px;
  border: 1px solid #eaeaea; }

input::-webkit-input-placeholder {
  color: #999; }

input:-moz-placeholder {
  color: #999999; }

textarea::-webkit-input-placeholder {
  color: #999999; }

p {
  font-family: "Open Sans", sans-serif; }

.container-fluid {
  max-width: 1170px;
  margin: 0 auto; }

header {
  background: #fff;
  border-bottom: 2px solid #66973b;
  padding: 20px 0 15px; }

.tel-box {
  text-align: right; }
  .tel-box .tel, .tel-box .link-popup, .tel-box .tel-svg {
    display: inline-block; }
  .tel-box .tel-svg {
    fill: #66973b;
    height: 30px;
    margin-right: 20px;
    position: relative;
    top: -5px;
    width: 30px; }
  .tel-box .tel {
    margin-right: 10px; }
    .tel-box .tel a {
      display: block;
      color: #333;
      font-size: 19px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 20px; }
      .tel-box .tel a span {
        color: #66973b;
        font-size: 16px;
        position: relative;
        top: -2px; }

.link-popup {
  position: relative;
  top: -24px; }
  .link-popup a {
    display: block;
    background: #66973b;
    border-radius: 5px;
    border-bottom: 3px solid #386919;
    padding: 10px 20px;
    color: #fff;
    position: relative;
    font-size: 19px; }
    .link-popup a:hover {
      top: 2px;
      border-bottom: 1px solid #386919;
      margin-bottom: 2px; }

.modal_div {
  width: 40%;
  border-radius: 3px;
  background: #fff;
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 30px 20px 50px 20px; }
  .modal_div .modal_close {
    width: 31px;
    height: 31px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .modal_div .modal_close:hover {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      transform: rotate(360deg); }
    .modal_div .modal_close svg {
      fill: #66973b; }
  .modal_div input {
    display: block;
    margin: 15px auto auto;
    padding: 10px;
    width: 80%; }
  .modal_div button {
    display: block;
    width: 80%;
    margin: 25px auto auto auto; }
  .modal_div h3 {
    text-align: center;
    margin: 35px 0; }
  .modal_div .g-recaptcha {
    display: inline-block;
    margin-top: 25px; }

.g-recaptcha {
  display: block;
  width: 300px;
  margin: 25px auto; }

#overlay {
  z-index: 3;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.jq-selectbox__select {
  background: #fff;
  border-radius: 3px;
  padding: 10px 60px 10px 10px; }

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: 1px solid #ccc; }

.jq-selectbox__trigger-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #999;
  height: 0;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 0; }

.jq-selectbox__dropdown {
  width: 100% !important; }
  .jq-selectbox__dropdown li {
    background: #fff;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #eaeaea; }

/*----- HEADER END -----*/
/*----- MAIN START ------*/
main section {
  padding: 100px 0; }

/*----- MAIN END ------*/
/*---- SECTION INFO-TOP START -----*/
.logo {
  margin-top: 10px; }

.info-top {
  width: 100%;
  padding: 200px 0;
  background: url("images/info-top.png") top right no-repeat;
  background-size: cover;
  position: relative; }

.slogan-box {
  background: rgba(0, 0, 0, 0.7);
  max-width: 550px;
  height: 550px;
  margin: auto;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative; }

.slogan {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 30%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  .slogan h1 {
    text-transform: uppercase; }
    .slogan h1 span {
      display: block;
      color: #66973b;
      font-size: 1.33em; }
  .slogan p {
    color: #fff;
    margin-top: 10px;
    text-align: center;
    font-style: italic; }

.slogan-diamond {
  margin: 15px 0 20px 0;
  text-align: center; }
  .slogan-diamond .slog-diam-svg {
    display: inline-block;
    width: 15px; }

/*---- SECTION INFO-TOP END -----*/
/*------ IN-STOCK ------*/
.in-stock {
  width: 100%; }

.stock-box {
  max-width: 1000px;
  margin: auto;
  border: 1px solid #66973b;
  text-align: center; }
  .stock-box .headers {
    position: relative;
    top: -10px;
    padding-bottom: 85px; }
    .stock-box .headers h2 {
      background: #fff;
      padding: 5px 40px;
      margin-top: -20px;
      display: inline-block; }

.diamond-box {
  display: inline-block;
  width: 230px;
  height: 230px;
  margin: 0 50px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.diamond {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden; }
  .diamond:hover .diamond-hover {
    top: 0; }
  .diamond .diamond-hover {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .diamond .diamond-text {
    position: absolute;
    height: 26%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: #fff;
    text-shadow: 1px 1px 5px #212121;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .diamond .diamond-title {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    text-shadow: 0 0 4px #212121; }
    .diamond .diamond-title:before {
      content: '';
      position: absolute;
      bottom: -25px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 50px;
      height: 1px;
      background: #66973b; }

.diam-paragr {
  text-shadow: 0 0 4px #212121; }

.diamond-box2 {
  width: 240px;
  height: 240px;
  margin: -65px 45px 0 45px;
  background: #fff;
  padding: 0 0 10px 10px; }

/*------ IN-STOCK ------*/
/*---- BENEFitS START ------*/
.benefits {
  width: 100%;
  background: #f5f5f5; }
  .benefits h2 {
    margin-bottom: 50px; }

.benefit-item {
  text-align: center; }

.benefit-img {
  width: 55px;
  margin: 20px auto; }
  .benefit-img svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #66973b; }

/*---- BENEFITS END ------*/
/*---- LOGIC START -----*/
.logic {
  width: 100%;
  background: url("images/auto.png") center center no-repeat;
  background-size: cover; }

.logic-item {
  text-align: center;
  width: 75%;
  margin: 50px auto auto auto; }
  .logic-item .logic-box {
    border: 1px solid #66973b;
    border-bottom: 0; }
  .logic-item h3 {
    display: inline-block;
    color: #66973b;
    background: #fff;
    padding: 5px 10px;
    font-weight: 700;
    position: relative;
    top: -20px;
    font-size: 1.5625em; }

/*---- LOGIC END ----*/
/*------ IMPORTANT KNOW START -----*/
.important-know {
  width: 100%;
  background: url("images/text.png") center center no-repeat;
  background-size: cover;
  padding: 150px 0;
  position: relative; }
  .important-know h2 {
    color: #fff; }
  .important-know .slogan-box {
    margin: 0; }

.know-box {
  width: 80%;
  margin: auto;
  padding: 0 80px 30px 80px;
  border: 1px solid #66973b;
  border-top: 0;
  position: relative; }
  .know-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 1px;
    background: #66973b; }
  .know-box:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 1px;
    background: #66973b; }

.know-img {
  position: absolute;
  width: 40%;
  right: 0;
  bottom: 0; }
  .know-img img {
    display: block;
    width: 100%;
    height: auto; }

.know-text:first-child {
  margin-top: 20px; }
.know-text p {
  color: #fff;
  margin-bottom: 20px; }
  .know-text p span {
    display: block; }

.slogan2 {
  height: 73%; }

/*------ IMPORTANT KNOW END -----*/
/*----- DOCUMENT START -----*/
.document {
  width: 100%;
  background: url("images/sert.png") center center no-repeat;
  background-size: cover; }
  .document h2 {
    margin-bottom: 75px; }

.docum-item {
  max-width: 250px;
  display: inline-block; }
  .docum-item a {
    display: block; }
    .docum-item a img {
      display: block;
      width: 100%;
      height: auto; }

.docum-item2 {
  max-width: 150px;
  display: inline-block; }

.docum-left {
  text-align: right; }

.docum-right {
  text-align: left; }

/*----- DOCUMENT END -----*/
/*----- QUESTIONS START -----*/
.questions {
  width: 100%;
  background: url("images/question.png") top left no-repeat;
  background-size: cover;
  position: relative; }
  .questions h5 {
    text-align: center;
    font-weight: 500;
    margin-top: 15px; }
  .questions .form-row {
    width: 75%;
    margin: 75px auto auto auto;
    text-align: center; }
    .questions .form-row input[type="text"], .questions .form-row input[type="tel"] {
      margin-right: 10px; }

/*----- QUESTIONS END -----*/
/*----- FOOTER START -----*/
footer {
  border-top: 2px solid #66973b;
  padding: 15px 0; }

/*----- FOOTER END -----*/

/*# sourceMappingURL=style.css.map */
